<div>
<app-tarjetas [titulo]="'Tips para reciclar'" [info]="'Prácticamente todos los elementos que nos rodean pueden reciclarse o reutilizarse, así que el reciclaje debe comenzar en nuestro propio hogar. De hecho, reciclar es un reto de todos, y adquirir nuevos hábitos nos ayuda a conseguir mayor calidad de vida y un planeta más sostenible.'" [imagen]="'/assets/reciclar.jpg'" ></app-tarjetas>
<app-tarjetas [titulo]="'Aportes del ejercicio para la salud mental'" [info]="''" [imagen]="'/assets/excer.jpg'"></app-tarjetas>
</div>