<div>
<h3>Angular Proyect</h3>
<p>En este proyecto se van a utilizar directivas, componentes, ngIf, ngFor, componentes padres y poner en practica trabajar con esto y hacer una pagina con Angular.
</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat aperiam soluta fugit neque distinctio. Quisquam quas autem ex iste labore a. Cumque odit iusto 
    aliquam asperiores, necessitatibus iure error quisquam quam velit totam molestias earum reiciendis, deserunt consequuntur beatae dicta, similique ipsum laudantium. 
    Consequatur natus quas dolorum facere minus tenetur perferendis repellendus, adipisci tempore, dolore esse accusamus rem quidem ipsum beatae fuga accusantium! Enim, 
    doloremque eos quod autem incidunt deserunt laboriosam eum nihil accusamus molestiae praesentium maiores cumque dicta vero commodi. Odio pariatur rerum cumque, autem 
    facilis sunt modi perferendis quos saepe officia hic odit laudantium ex minus quisquam dignissimos.
</p>
</div>

<div>
    <h1>Crear Invitado</h1>
    <h3>Nombre</h3>
    <input type="text" #nombre>
    <h3>Edad</h3>
    <input type="number" #edad>
    <br>
    <button (click)="enviarInvitado(nombre.value,edad.value)">Agregar Invitado</button>
</div>